[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
funcsigs = {version = "*",markers = "python_version < '3.0'"}
mock = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
testfixtures = "*"
twine = "*"
wheel = "*"
# Doc builder packages:
Sphinx = "==1.8.5"
sphinx-rtd-theme = "*"
recommonmark = "*"

[packages]
instaloader = "*"
watchdog = "*"
boto3 = "*"
rq = "*"
redis = "*"
pathlib = "*"
tinydb = "*"
pipenv = "*"
